header {
	width: 100%;
	min-height: 100%;
	background-image: url('head.png');
	background-size: cover;
	background-color: #87CEFA;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.logo
{
    font-size: 45px;
    padding: 10px;
    font-family: Impact, Charcoal, sans-serif;
    color: chocolate;
    text-decoration: none;
    text-shadow: 3px 2px black;
}
.logo .first
{
    color: green;
}
.logo .second
{
    color: grey;
}
.banner
{
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
#link-in, #link-out{
    background-color: #dddddd!important;
    border: none!important;
    outline: none!important;
    margin: 10px 0!important;
    background-image: url('link.png')!important;
    background-repeat: no-repeat!important;
    background-position: 10px 10px!important;
    padding: 15px 0px 15px 55px!important;
    box-sizing: border-box!important;
    font-size: 1.5rem!important;
    text-decoration: none!important;
    width: fill;
    border-radius: 0!important;
}
#link-in:focus
{
    border-bottom: 1px solid blue!important;
    transition: all 0.5s!important;
}
#link-press, #link-copy {
    background-color: #415a77!important;
    color: white!important;
    width: auto;
    box-sizing: border-box!important;
    font-size: 1.5rem!important;
    padding: 1rem 2rem!important;
    border-radius: 25px!important;
    border: none!important;
    outline: none!important;
    cursor: pointer!important;
}
#link-press:hover {
    background-color: #1b263b!important;
}
#link-form {
	text-align: left;
    border-radius: 5px;
    background-color: #dddddd;
    padding: 0.5rem 1rem;
}
.link-over {
    width: 90%;
    display: inline-block;
    padding: 10px 5px 10px 40px;
    margin: 5%;
    outline: none;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}
.vip {
  position: absolute;
  right: 0;
  top: 0;
  margin: -7px -6px;
  background: url('vip.png');
  width: 50px;
  height: 51px;
  color: transparent;
  display: inline;
  user-select: none;
  background-repeat: no-repeat;
}
#over-date{
    background-image: url('date.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
#over-descript{
    background-image: url('des.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
}
#over-password{
    background-image: url('pass.png');
    background-repeat: no-repeat;
    background-position: 10px 4px;
}
#over-query{
    background-image: url('query.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
}